@page
@model LionPetManagement_NguyenHangNhatHuy.Pages.LionProfile.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div class="container mt-4">
    <div class="card p-4 shadow-lg" style="max-width: 600px; margin: auto;">
        <h3 class="text-center text-primary">Add New Lion</h3>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="LionProfile.LionName" class="form-label"></label>
                <input asp-for="LionProfile.LionName" class="form-control" />
                <span asp-validation-for="LionProfile.LionName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LionProfile.Characteristics" class="form-label"></label>
                <input asp-for="LionProfile.Characteristics" class="form-control" />
                <span asp-validation-for="LionProfile.Characteristics" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LionProfile.Weight" class="form-label"></label>
                <input type="number" asp-for="LionProfile.Weight" class="form-control" />
                <span asp-validation-for="LionProfile.Weight" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LionProfile.Warning" class="form-label"></label>
                <input asp-for="LionProfile.Warning" class="form-control" />
                <span asp-validation-for="LionProfile.Warning" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LionProfile.ModifiedDate" class="form-label"></label>
                <input type="date" asp-for="LionProfile.ModifiedDate" class="form-control"></>
                <span asp-validation-for="LionProfile.ModifiedDate" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LionProfile.LionTypeId" class="form-label"></label>
                <select asp-for="LionProfile.LionTypeId" class="form-select" asp-items="ViewBag.LionTypeId">
                    <option value="">-- Select Lion Type --</option>
                </select>
                <span asp-validation-for="LionProfile.LionTypeId" class="text-danger"></span>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-page="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}